<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</head>
<body>
 <!-- Barra de navegación -->
<header class="bg-light border-bottom mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand fs-4" href="/">Taller Fundación de los Reinos</a>
            <!-- Botón hamburguesa -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menú colapsable -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Autores</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Cuentos</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Poesías</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Crónicas</a></li>
                    <li class="nav-item"><a href="/posts" class="nav-link">Publicaciones</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="text-center">
    <h2>Iniciar Sesión</h2>
    <form action="" method="post" class="mx-auto" style="max-width: 400px;">
        <div class="mb-3 text-start">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3 text-start">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</section>

    <footer class="text-center">
        <p>&copy; 2025 Taller Fundación de los reinos</p>
        <p>Todos los derechos reservados</p>
        <p>Contacto: correo: guedea.fis@gmail.com</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>