<!DOCTYPE html>
<html>
<title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Barra de navegación -->
<header class="bg-light border-bottom mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand fs-4" href="/">Taller Fundación de los Reinos</a>
            <!-- Botón hamburguesa -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menú colapsable -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Autores</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Cuentos</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Poesías</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Crónicas</a></li>
                    <li class="nav-item"><a href="/posts" class="nav-link active">Publicaciones</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>Por {{ post.author }} el {{ post.created_at.strftime('%d-%m-%Y')  }}</p>
    <div>{{ post.content }}</div>

     <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
