<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
<!-- Estilos y script -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>


<!-- Barra de navegación -->
<header class="bg-light border-bottom mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand fs-4" href="/">Taller Fundación de los Reinos</a>
            <!-- Botón hamburguesa -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menú colapsable -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Autores</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Cuentos</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Poesías</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Crónicas</a></li>
                    <li class="nav-item"><a href="/posts" class="nav-link active">Publicaciones</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                    {% if session['user_id'] %}
                    <li class="nav-item"><a href="/logout" class="nav-link">Salir</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="text-center">
    <h2>Lista de Publicaciones</h2>
    <ul class="list-unstyled">
        {% for post in posts %}
            <li>
                <a class="text-decoration-none t" href="/posts/{{ post.id }}">
                    {{ post.created_at.strftime('%d-%m-%Y') }} - {{ post.author }} - {{ post.title }}
                </a>
                {% if session['user_id'] == post.user_id %}
                <div class="d-inline ms-3">
                    <a class="btn btn-info btn-sm" href="{{ url_for('post.edit_post', post_id=post.id) }}">Editar</a>
                    <a class="btn btn-danger btn-sm ms-2" href="{{ url_for('post.delete_post', post_id=post.id) }}">Eliminar</a>
                </div>
                {% endif %}
            </li>
            <br>
        {% endfor %}
    </ul>
    
</section>


    <footer class="text-center">
        <p>&copy; 2025 Taller Fundación de los reinos</p>
        <p>Todos los derechos reservados</p>
        <p>Contacto: correo: guedea.fis@gmail.com</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>