<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pompiere&display=swap" rel="stylesheet">
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.content[:150] | striptags }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ url_for('static', filename='img/logo.jpg', _external=True) }}">
    <meta property="og:locale" content="es_LA">
</head>

<style>
    nav {
    background: linear-gradient(to right, #ff69b4, #87cefa); /* rosa a azul */
    margin: 0;
    padding: 0;
    background-attachment: fixed; /* para que no se desplace al hacer scroll */
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0C8XNNX1CY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0C8XNNX1CY');
</script>

<body class="text-center">

<header class="bg-light border-bottom mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand fs-4" href="/">El taller literario</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/cuentos" class="nav-link">Cuentos</a></li>
                    <li class="nav-item"><a href="/poesias" class="nav-link">Poesías</a></li>
                    <li class="nav-item"><a href="/cronicas" class="nav-link">Crónicas</a></li>
                    <li class="nav-item"><a href="/posts" class="nav-link active">Publicaciones</a></li>
                    {%if session['user_id']%}
                    <li class="nav-item"><a href="/posts_new" class="nav-link active">Editor</a></li>
                    {%endif%}
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                    {% if session['user_id'] %}
                    <li class="nav-item"><a style="color: red;" href="/logout" class="nav-link">Salir</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <h1>{{ post.title }}</h1>
    <p>Por {{ post.author }} el {{ post.created_at.strftime('%d-%m-%Y') }}</p>

    <div class="d-flex justify-content-center">
        <div class="text-justify" style="text-align: justify; max-width: 800px;">
            {{ post.content | safe }}
        </div>
    </div>
</div>


    <footer class="text-center">
        <p>&copy; 2025 El taller literario</p>
        <p>Todos los derechos reservados</p>
        <p>Contacto: correo: guedea.fis@gmail.com</p>
                <a href="https://www.facebook.com/profile.php?id=61576583792585" 
        class="btn btn-primary" 
        target="_blank" 
        rel="noopener noreferrer">
        Visítanos en Facebook
        </a>
    </footer>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>